* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  background-color: #171717;
  color: #e5e5e5;
}
